<header>
  <a class="logo" href="#">
    <app-icon [iconName]="'logo'"></app-icon>
  </a>
<!--  <ul #navbar class="navbar">-->
<!--    <li><a class="active" href="">Home</a></li>-->
<!--    <li><a href="">About us</a></li>-->
<!--    <li><a href="">Blog</a></li>-->
<!--    <li><a href="">Contact</a></li>-->
<!--  </ul>-->
  <div class="main">
    <i>
    </i>
    <a class="user" href="">
      <app-icon color="#29fd53" iconName="user"></app-icon>
      &nbsp;
      Sign in
    </a>
    <a class="user" href="">Register</a>
    <a (click)="changeIcon()" id="menu-icon">
      <i>
        <app-icon [iconName]="menu" color="#29fd53"></app-icon>
      </i>
    </a>
  </div>
</header>
