<div class="nav">
  <input id="nav-check" type="checkbox">
  <div class="nav-header">
    <span class="logo">
      <img alt="Logo" src="assets/logos/FlixGo2.png">
    </span>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  <div class="nav-links">
    <a href="//github.io/jo_geek" target="_blank">Github</a>
    <a href="#" target="_blank">Home</a>
    <a href="#" target="_blank">News</a>
    <a href="#" target="_blank">Archive</a>
    <a href="#" target="_blank">Archive</a>
  </div>
</div>
