@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto:ital,wght@0,500;1,400&family=Sono&display=swap');

$open-sans: 'Open Sans', sans-serif;
$roboto: 'Roboto', sans-serif;
$sono: 'Sono', sans-serif;
